@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
}
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.card-wrapper-tit{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    border: 1PX solid #ccc;
    padding: 1em 2em;
    margin: 10% auto 5%;
}
.card-wrapper-tit img{
    width: 100%;
    display: block;
}
.img-display-tit{
    overflow: hidden;
}
.img-showcase-tit{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase-tit img{
    min-width: 100%;
}
.img-select-tit{
    display: flex;
}
.img-item-tit{
    margin: 0.3rem;
}
.img-item-tit:nth-child(1),
.img-item-tit:nth-child(2),
.img-item-tit:nth-child(3){
    margin-right: 0;
}
.img-item-tit:hover{
    opacity: 0.8;
}
.product-content-tit{
    padding: 2rem 1rem;
}
.product-title-tit{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title-tit::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link-tit{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link-tit:hover{
    opacity: 0.9;
}
.product-rating-tit{
    color: #ffc107;
}
.product-rating-tit span{
    font-weight: 600;
    color: #252525;
}
.product-price-tit{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price-tit span{
    font-weight: 400;
}
.last-price-tit span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price-tit span{
    color: #256eff;
}
.product-detail-tit h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail-tit p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail-tit ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail-tit ul li{
    margin: 0;
    list-style: none;
    background: url('../img/checked.png') left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail-tit ul li span{
    font-weight: 400;
}


@media screen and (min-width: 992px){
    .card-tit{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper-tit{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs-tit{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content-tit{
        padding-top: 0;
    }
}