.slider-news-container {
    z-index: 10;
    margin-top: 110px;
}
.mySlides{
    display: none;  
}
.mySlides img{
    vertical-align: middle;
}
.slideshow-container{
    max-width: 80%;
    position: relative;
    margin: auto;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
} 
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: #ff1521;
}

.dot{
    position: relative;
    bottom: 20px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active-slide, .dot:hover{
    background-color: #ff1521;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade{
    from {opacity: .4}
    to{opacity: 1}
}
@keyframes fade{
    from {opacity: .4}
    to{opacity: 1}
}

/* responsive */
@media only screen and (max-width:300px){
    .prev, .next, .text{
        font-size: 11px;
    }
    .dot{
        height: 10px;
        width: 10px;
    }
}


@media only screen and (max-width:500px){
    .prev, .next, .text{
        font-size: 14px;
    }
}